<div class="container" style="background-image: url(/image/profilebg2.png);">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <h1>My Profile</h1>
        </div>
        <div class="col-8">
            <h1>About Me</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="/image/avatartest.png" height="250px" width="250px" />

        </div>
        <div class="col-8">
            <h1></h1>
            <h5>Name: John Doe</h5>
            <h5>Phone Number: </h5>
            <h5>Email: </h5>

        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>My Favorite Pets</h2>
        </div>
        <div class="col-4">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="/image/testpet.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/image/testpet.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>

        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/image/testpet.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>

        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/image/testpet.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>

        </div>

    </div>
    <br>

    <div class="row">
        <div class="col-2">
            <img src="/image/samoyedtest.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>
        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/image/samoyedtest.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>

        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/image/samoyedtest.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>

        </div>
        <div class="col-1">
        </div>
        <div class="col-2">
            <img src="/image/samoyedtest.jpg" height="200px" width="250px" />
            <button data-id="{{this.id}}" class="delpet">Delete</button>

        </div>

    </div>

</div>